@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #151924;
  color: #f7f7fa;
  font-family: 'Inter', 'Roboto', sans-serif;
}

.desktop-only {
  display: flex;
  color: #8ffffb;
  text-align: center;
  margin: 16px 0;
  font-size: 0.9rem;
  user-select: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }

  .desktop-only hr {
    margin: 8px 0;
    border: none;
    border-top: 1px solid #f4f4f4;
  }
}
